html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  }

  .full_height_div {
    height: 80vh;
    overflow: auto;
  }


  .humanBackground{
    background: #c5e6ff;
  }

  .assistantBackground{
    background: #fabe00;
  }
