<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <title>PVPCounters.com</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158632343-1"></script>
  <script src="static/websocket.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-158632343-1');

  </script>


</head>

<body>

  <script id="all_pokemon_template" type="x-tmpl-mustache">
    {% raw %}
    {{#.}}
    <div id="pokemon_{{pokemon_data.id}}">
      
      <button style='cursor:pointer' type="button" class="btn-block mt-2 btn btn-light text-left" onclick="add_to_my_pokemons('{{pokemon_data.id}}')">
        {{pokemon_data.name}}     
        <small>
          ({{pokemon_data.quick_move.code}},
          {{#pokemon_data.charge_moves}}
            {{code}}
          {{/pokemon_data.charge_moves}}
          )
        </small>  
      </button>
      

    </div>
    {{/.}}
    {% endraw %}
  </script>


  <script id="my_pokemon_template" type="x-tmpl-mustache">
    {% raw %}
    {{#.}}
    <div id="my_pokemon_{{pokemon_data.id}}" class='mt-2'>
      <button type="button" class="btn-block mb-1 btn btn-success text-left" onclick="remove_my_pokemon('{{pokemon_data.id}}')">
        {{pokemon_data.name}}     
        <small>
          ({{pokemon_data.quick_move.code}},
          {{#pokemon_data.charge_moves}}
            {{code}}
          {{/pokemon_data.charge_moves}}
          )
        </small>  
      </button>
    </div>
    {{/.}}
    {% endraw %}
  </script>



  <script id="pokemon_table_template" type="x-tmpl-mustache">
    {% raw %}
    <table class="table table-striped">
    {{#.}}
      <tr>
        <td >
          <span class="badge badge-secondary">
            {{enemy_data.pokemon.id}}
          </span>
        </td>
        <!--
        {{#counters}}
          <td>
            {{name}}:{{rating}}              
          </td>
        {{/counters}}
        -->
      </tr>
      
    {{/.}}
    </table>
    {% endraw %}
  </script>


  <script id="enemy_data_template" type="x-tmpl-mustache">
    {% raw %}  
    <div>
      <span class='h5' id="enemy_primary">
        <span class='rounded' style='color:#000;padding:3px;padding-left:5px'>       
          {{enemy_data.pokemon.name}}
        </span>
      </span>

      <span class='h5' id="enemy_secondary">
        <span class='rounded' style='color:#777;padding:3px;padding-left:5px'>       
          {{enemy_data.pokemon.name}}
        </span>
      </span>
      
      <span class='d-none d-md-inline'>
      {{#enemy_data.pokemon.types}}
          <span class='rounded ml-2' style='display: inline-block;border:1px solid #DDD; padding:0px;padding-left:6px;padding-right:6px'>
              {{.}}
          </span>
      {{/enemy_data.pokemon.types}}        
      <span>
    </div>
    {% endraw %}
  </script>


  <script id="best_choice_template_condensed" type="x-tmpl-mustache">
    {% raw %}  

    <div class="">
    {{#counters}}

      <div class="container mb-2 p-4 pt-2 rounded" style='background-color:#FFF'>        

        <div class='mb-1'>
          <span class='h4'>
          <span class='rounded' style='border:1px solid #AAA; padding:3px;padding-left:5px'>          
              {{name}}
          </span>
          </span>
           <span class=''>
              {{#types}}
                <span class='rounded ml-2' style='display: inline-block;border:1px solid #DDD; padding:0px;padding-left:6px;padding-right:6px'>
                    {{.}}
                </span>
              {{/types}}
            </span>
            <span style='color:#555;margin-left:10px;' class='float-right'>
              <small>
              {{rating}}% efficiency against {{enemy_data.pokemon.name}}
              </small>
            </span>
        </div>
        <div>

          <div class="progress" style="height: 5px;margin-bottom:10px;">
            <div class="counter_progress_bar progress-bar bg-primary" role="progressbar" style="width:{{rating}}%;" aria-valuenow="{{rating}}" aria-valuemin="0" aria-valuemax="100">                 
            </div>
          </div> 

          <div class='table-responsive'>
          <table class="table table-sm">
            <thead class=''>
              <tr>
                <th class=' font-weight-normal' scope="col"></th>
                <th style='color:#333' class=' font-weight-normal' scope="col"><small>charge</small></th>
                <th style='color:#333' class=' font-weight-normal'scope="col"><small>fast</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <th scope="row" class='font-weight-normal'>
                  <small>
                  <span style='color:#333' class="d-block d-md-none">
                    theirs
                  </span>
                  <span style='color:#333' class="d-none d-md-block">
                    {{enemy_data.pokemon.name}}
                  </span>
                  </small>
                </th>

                <td>   
                  <small>
                      {{#vulnerabilities.charge}}
                          <span class='rounded' style='white-space: nowrap;display: inline-block;margin:3px; padding:0px;padding-right:4px;border:1px solid {{class}}'>
                            <span style='display: inline-block;padding:1px;padding-left:2px;padding-right:2px; color:{{text_color}};background-color:{{class}}'>
                              <small style='margin:2px;margin-left:2px;margin-right:5px;'>
                                {{ammount}}X {{short_text}}
                                </small>
                            </span>                               
                            <span style='color:#000;display: inline-block;padding-left:4px'>
                              {{to_name}}
                            </span>
                            <span style='color:#444;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;' class='d-none'>
                              {{to_type}}
                            </span>
                            <span style='color:#444;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;'>
                              {{to_base_power}}
                            </span>
                          </span>
                      {{/vulnerabilities.charge}}
                  </small>
                </td>

                <td>
                  <small>
                    {{#vulnerabilities.fast}}
                        <span class='rounded' style='white-space: nowrap;display: inline-block;margin:3px; padding:0px;padding-right:4px;border:1px solid {{class}}'>
                          <span style='display: inline-block;padding:1px;padding-left:2px;padding-right:2px; color:{{text_color}};background-color:{{class}}'>
                            <small style='margin:2px;margin-left:2px;margin-right:5px;'>
                              {{ammount}}X {{short_text}}
                              </small>
                          </span> 
                          ({{to}} 
                          <span style='color:#555;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;' class='d-none'>
                            {{to_type}}
                          </span>
                          <span style='color:#444;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;'>
                            {{to_base_power}}
                          </span>
                        </span>
                    {{/vulnerabilities.fast}}
                  </small>
                </td>
            </tr>

              <tr>                
                <th scope="row" class='font-weight-normal'>
                  <small>
                  <span  style='color:#333' class="d-block d-md-none">
                    mine
                  </span>
                  <span style='color:#333' class="d-none d-md-block">                    
                    my  {{name}}
                  </span>
                  </small>
                </th>

                <td>
                  <small>              
                    {{#attacks.charge}}
                      <span class='rounded' style='white-space: nowrap;display: inline-block; margin:3px; padding:0px;padding-right:3px;border:1px solid {{class}}'>
                        <span style='display: inline-block;padding:1px;padding-left:2px;padding-right:2px; color:{{text_color}};background-color:{{class}}'>
                          <small style='margin:2px;margin-left:2px;margin-right:5px;'>
                            {{ammount}}X {{short_text}}
                            </small>
                        </span> 
                        {{name}}
                        <span style='color:#555;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;' class='d-none'>
                          {{type}}
                        </span>
                        <span style='color:#555;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;'>
                          {{base_power}}
                        </span>
                        </span>
                    {{/attacks.charge}}                                   
                  </small>
                </td>

                <td>
                  <small>              
                    {{#attacks.fast}}
                      <span class='rounded' style='white-space: nowrap;display: inline-block; margin:3px; padding:0px;padding-right:3px;border:1px solid {{class}}'>
                        <span style='display: inline-block;padding:1px; color:{{text_color}};background-color:{{class}}'>
                          <small style='margin:2px;margin-left:2px;margin-right:5px;'>
                          {{ammount}}X {{short_text}}
                          </small>
                        </span> 
                        {{name}}
                        <span style='color:#555;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;' class='d-none'>
                          {{type}}
                        </span>
                        <span style='color:#555;display: inline-block;padding-right:4px;padding-left:4px;border-left:1px dotted gray;'>
                          {{base_power}}
                        </span>
                        </span>
                    {{/attacks.fast}}                                   
                  </small>
                </td>

              </tr>
            </tbody>
          </table>
          </div>

          <div class='mt-2 ml-1'>
            {{#use_shield}}
              <span class='rounded' style='font-size:0.8em;color:white;background-color:#C62828;padding:5px;padding-left:8px;padding-right:8px;'>
                <small>
                <b>USE SHIELD</b>
                </small>
              </span>
              <small class='ml-2'>
                (if {{enemy_data.pokemon.name}} uses {{use_shield_reason}})
              </small>
            {{/use_shield}}

            {{#maybe_shield}}
              <span class='rounded' style='font-size:0.8em;color:white;background-color:gray;padding:5px;padding-left:8px;padding-right:8px;'>
                maybe use shield
              </span> 
              <small class='ml-2'>
                (if {{enemy_data.pokemon.name}} uses {{use_shield_reason}})
              </small>
            {{/maybe_shield}}
          
            {{#do_not_use_shield}}
              <span class='rounded' style='font-size:0.8em;color:white;background-color:#2E7D32;padding:5px;padding-left:8px;padding-right:8px;'>
                no need for shields
              </span>
            </span> 
            <small class='ml-2'>
              (max {{enemy_data.pokemon.name}} charge damage is {{use_shield_reason}})
            </small>
            {{/do_not_use_shield}}
         </div>

        </div>
            
        </div>      
    {{/counters}}
      </div>
    {% endraw %}
  </script>




  <div class="d-none d-md-block" class="navbar_element">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar_element">
      <a class="navbar-brand navbar_element" href="/">PVPCounters</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <main role="main" class="container">

    <div class="mt-1 starter-template">

      <div id="search_div" class='mt-0' style='display:none'>

        <div class='row'>

          <div class='col'>
            <div class='row'>
              <div class='col'>
                <div>
                  <input type='text' value="giratina" onkeyup='filter_enemies()' class="form-control-lg form-control" id="search_text"></input>
                </div>
              </div>
              <div class='col'>
                <div id="enemy_data" class='pl-3 pr-3 rounded' style='background-color: #FFF;' onclick="initWebsocket()">
                  &nbsp;
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class='clearfix'>
          <div class='float-left pt-2'>
            <span class='col-1' id="search_here_arrow">
              <span>
                <img height="30px" width="30px" src="/static/img/top_arrow.png">
              </span>
            </span>
            <span id="filtered_names" style='background-color:#EEE; color:#555' class='rounded'>

            </span>
          </div>
          <div class='float-right mt-1 mb-1'>
            <small>
              <div class="form-check form-check-inline">
                <input onchange="set_show_all_moves(!this.checked)" class="form-check-input ml-5" checked="true" type="checkbox" name="inlineRadioOptions" id="inlineCheckbox1">
                <label class="form-check-label" for="inlineRadio2">Show only common moves</label>
              </div>
            </small>
          </div>
        </div>
      </div>



      <div id="choose_party_div">

        <div class='text-center mt-3 mb-2'>
          <div id='start_battle_button_div' style='display:none'>
            <button class="btn btn-primary btn-block btn-lg" class='mt-3' id="start_button" onclick="start_battle()">Start Battle</button>
            <img src="static/img/top_arrow.png" id="start_battle_arrow" style='display:none' class='mt-2'>
          </div>
          <div id='choose_your_team_button_div'>
            <button class="btn btn-primary btn-block btn-lg" disabled class='mt-3' onclick="start_battle()">Choose your Pokemon team</button>
          </div>
        </div>


        <div class='card mb-5'>
          <div class='card-body p-4'>
            <h4 class='card-title'>Pokemons selected for my team</h4>
            <h6 class="card-subtitle mb-2 text-muted">click to remove</h6>
            <input type='text' readonly onclick="this.select()" style='display:none' class="mb-3 form-control-sm form-control form-control mt-3" id="team_url"></input>
            <div id="my_pokemon_list">
            </div>
          </div>
        </div>

        <div class='card rounded'>
          <span class='card-body p-4'>
            <span>
              <div class='row'>
                <div class='col-1' id="choose_pokemon_arrow">
                  <span>
                    <img src="/static/img/bottom_arrow.png">
                  </span>
                </div>
                <div class='col'>
                  <h4 class='card-title'>
                    All available pokemons
                  </h4>
                  <h6 class="card-subtitle mb-2 text-muted">
                    click to choose, enter text to filter
                  </h6>
                </div>
                <div class='col'>
                  <select id="select_league" class="custom-select custom-select-lg mb-3" onchange="select_league(this.value);">
                    <option selected value='master'>GO Battle Master League</option>
                    <option value="ultra">GO Battle Ultra League</option>
                    <option value="great">GO Battle Great League</option>
                  </select>
                </div>
              </div>
            </span>


            <div class="mb-3 mt-3">
              <input type='text' id="filter_all_pokemons" onkeyup='filter_all_pokemons()' class="form-control form-control" id="search_text"></input>
            </div>

            <div id="all_pokemon_list" class="overflow-auto" style='height:55vh;overflow-y: scroll;'>
              <div class='mt-3 mb-3'>
                loading data, please wait...
              </div>
            </div>
        </div>
      </div>



    </div>

    <div id="best_choice" class='container pt-4 pb-4 rounded'>

    </div>
    <div id="client_id" class='float-right'>
    </div>

    </div>

  </main><!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
  <script src="static/3/init.js"></script>
  <script>
    initWebsocket();
  </script>


</body>

</html>