<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PVPCounters - What's the best counter ?</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/landing/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/landing/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/landing/css/landing-page.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">PVPCounters.com</a>
      <!--
      <a class="btn btn-primary" href="#">Sign In</a>
      -->
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Find out the best counters for Pokemon GO Battle League !</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href='/app' class="btn btn-block btn-lg btn-primary">Try it now !</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Best for Pokemon GO Battle League</h3>
            <p class="lead mb-0">Best tool for Pokemon GO Battle League, PVPCounters <b>gives you real time insights</b> on how to battle.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Instant real-time insights</h3>
            <p class="lead mb-0">You get real-time data on what's the best counter against your opponent and what is the best winning strategy.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Just fill-in the first letter of your opponent name and PVPCounters does the rest!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img d-none d-lg-block" style="background-image: url('/static/landing/img/1-data.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Locate your opponent with just few letters</h2>
          <p class="lead mb-0">You can do that <b>even during the battle</b> ! Keep your laptop at hand and check your opponent vulnerabilities and attacks.</p>
        </div>
        <div class="col-lg-6 order-lg-2 text-white showcase-img d-lg-none" style="background-image: url('/static/landing/img/1-data-mobile.png');"></div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img d-none d-lg-block" style="background-image: url('/static/landing/img/2-data.png');"></div>        
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Instantly check what pokemon you should use as a counter</h2>
          <p class="lead mb-0">For each of the pokemons in your team, get a blue bar rating which shows how good it will perform as a counter against the selected enemy.</p>
        </div>
        <div class="col-lg-6 text-white showcase-img d-lg-none" style="background-image: url('/static/landing/img/2-data-mobile.png');"></div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img d-none d-lg-block" style="background-image: url('/static/landing/img/3-data.png');"></div>        
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>See your enemy potential charge moves and how vulnerable your pokemon is</h2>
          <p class="lead mb-0">Giratina can use Ancient Power a a charge move, and your Gyarados is 160% vulnerable to rock. You <b>better use a shield</b> to protect !</p>
        </div>
        <div class="col-lg-6 order-lg-2 text-white showcase-img d-lg-none" style="background-image: url('/static/landing/img/3-data-mobile.png');"></div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img d-none d-lg-block" style="background-image: url('/static/landing/img/4-data.png');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Know your best charge move</h2>
          <p class="lead mb-0">Battling against Venusaur, Groudon can either use Fire Blast (fire) for 160% damage, or Earthquage (ground), for just 100% damage. Choose accordingly ! </p>
        </div>
      </div>
      <div class="col-lg-6 text-white showcase-img d-lg-none" style="background-image: url('/static/landing/img/4-data-mobile.png');"></div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Not yet clear ? See a demo!</h2>
      <div>
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/TmA87lCjeM4' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href='/app' class="btn btn-block btn-lg btn-primary">Choose your pokemon team !</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light d-none mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/landing/vendor/jquery/jquery.min.js"></script>
  <script src="/static/landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>